<div class="row flex-column flex-sm-row m-0 p-0 mb-3">
  <div class="col-12 col-sm-6 px-0">
    <h3>จัดการผู้ใช้งาน</h3>
  </div>
  <div class="col-12 col-sm-6 px-0 d-flex justify-content-end mb-3">
    <button (click)="createUser()" class="d-flex align-self-center align-items-center" nz-button nzType="primary">
      <i nz-icon nzType="plus-circle" nzTheme="outline"></i> เพิ่มผู้ใช้งาน
    </button>
  </div>
</div>
<app-pagination [items]="items" [template]="list" [pageSize]="app.pagination.pageSize"
  [pageIndex]="app.pagination.currentIndexPage" (pageIndexChange)="app.pagination.currentIndexPage = $event"
  (pageSizeChange)="app.pagination.pageSize = $event">
</app-pagination>
<ng-template #list let-items="items" let-from="from">
  <div class="table-responsive">
    <nz-table #nzTable class="table table-hover backoffice-table" [nzData]="items" [nzFrontPagination]="false">
      <thead>
        <tr>
          <ng-container *ngFor="let col of columns" nzTableLayout="fixed">
            <ng-container *ngIf="col.KEY === 'EXPAND'; else headerNormal">
              <th [nzWidth]="col.WIDTH" [class]="col.CLASS" *ngIf="detect.has(col.HIDE)">
                {{ col.HEADER }}
              </th>
            </ng-container>
            <ng-template #headerNormal>
              <th [nzWidth]="col.WIDTH" [class]="col.CLASS" *ngIf="!detect.has(col.HIDE)">
                {{ col.HEADER }}
              </th>
            </ng-template>
          </ng-container>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of items;let index = index">
          <tr>
            <ng-container *ngFor="let col of columns">
              <ng-container *ngIf="col.KEY === 'EXPAND'; else normal">
                <td [(nzExpand)]="item[col.KEY]" [class]="col.CLASS" *ngIf="detect.has(col.HIDE)"></td>
              </ng-container>
              <ng-template #normal>
                <td [class]="col.CLASS" *ngIf="!detect.has(col.HIDE)">
                  <ng-container [ngSwitch]="col.KEY">
                    <ng-container *ngSwitchCase="'EXPAND'"></ng-container>
                    <ng-container *ngSwitchCase="'AVATAR'">
                      <app-image [src]="item.AVATAR" className="img-fluid avatar rounded-circle" imageType="avatar">
                      </app-image>
                    </ng-container>
                    <ng-container *ngSwitchCase="'CREATE_DATE'">
                      <app-display-datetime [datetime]="item.CREATE_DATE" format="DD MMM YY <br /> HH:mm:ss">
                      </app-display-datetime>
                    </ng-container>
                    <ng-container *ngSwitchCase="'UPDATE_DATE'">
                      <app-display-datetime [datetime]="item.UPDATE_DATE" format="DD MMM YY <br /> HH:mm:ss">
                      </app-display-datetime>
                    </ng-container>
                    <ng-container *ngSwitchCase="'MANAGE'">
                      <ng-container *ngTemplateOutlet="btn; context: { item: item || {} }"></ng-container>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                      {{ (item[col.KEY]) }}
                    </ng-container>
                  </ng-container>
                </td>
              </ng-template>
            </ng-container>
          </tr>
          <tr *ngIf="detect.has(getColumnConfig('EXPAND','HIDE'))" [nzExpand]="item.EXPAND">
            <div class="d-flex flex-column">
              <ng-container *ngFor="let col of columns">
                <ng-container *ngIf="col.RESPONSIVE">
                  <div class="d-flex ml-5 mb-1 DETAIL"
                    [ngClass]="{ 'flex-column': col.ACTION,'flex-row': !col.ACTION }">
                    <strong class="mb-1">
                      {{ col.HEADER }}
                    </strong>
                    <div class="ml-3" [ngClass]="col.KEY">
                      <ng-container [ngSwitch]="col.KEY">
                        <ng-container *ngSwitchCase="'CREATE_DATE'">
                          <app-display-datetime [datetime]="item.CREATE_DATE" format="DD MMM YY HH:mm:ss">
                          </app-display-datetime>
                        </ng-container>
                        <ng-container *ngSwitchCase="'UPDATE_DATE'">
                          <app-display-datetime [datetime]="item.UPDATE_DATE" format="DD MMM YY HH:mm:ss">
                          </app-display-datetime>
                        </ng-container>
                        <ng-container *ngSwitchCase="'MANAGE'">
                          <ng-container *ngTemplateOutlet="btn; context: { item: item || {} }"></ng-container>
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                          {{ (item[col.KEY]) }}
                        </ng-container>
                      </ng-container>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </tr>
          <!-- <tr *ngIf="detect.has(getColumnConfig('EXPAND','HIDE'))" [nzExpand]="item.EXPAND">
            <div class="d-flex flex-column">
              <ng-container *ngFor="let col of columns">
                <ng-container *ngIf="detect.has(col.HIDE)">
                  <div class="d-flex flex-row mb-1">
                    <div>
                      {{ col.HEADER }}:
                    </div>
                    <ng-container *ngSwitchCase="'CREATE_DATE'">
                      <app-display-datetime [datetime]="item.CREATE_DATE" format="DD MMM YY <br /> HH:mm:ss">
                      </app-display-datetime>
                    </ng-container>
                    <ng-container *ngSwitchCase="'UPDATE_DATE'">
                      <app-display-datetime [datetime]="item.UPDATE_DATE" format="DD MMM YY <br /> HH:mm:ss">
                      </app-display-datetime>
                    </ng-container>
                    <ng-container *ngSwitchCase="'MANAGE'">
                      <ng-container *ngTemplateOutlet="btn; context: { item: item || {} }"></ng-container>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                      {{ (item[col.KEY]) }}
                    </ng-container>
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </tr> -->
        </ng-container>
        <ng-container *ngIf="items.length < 1">
          <tr>
            <td class="text-center align-top" colspan="8">
              <div class="not-found"></div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </nz-table>
  </div>
</ng-template>

<ng-template let-item="item" #btn>
  <div class="d-flex flex-row flex-nowrap justify-content-center">
    <button nz-button nzType="primary" (click)="onSelected(item,MODE.EDIT)">
      แก้ไข
    </button>
    <span class="px-1"></span>
    <button nz-button nzDanger nzType="primary" (click)="onDelete(item)">
      ลบ
    </button>
  </div>
</ng-template>
