<div class="row flex-column flex-sm-row m-0 p-0 mb-3">
    <div class="col-12 col-sm-6 px-0">
        <h3>จัดการผู้ใช้งาน</h3>
    </div>
    <div class="col-12 col-sm-6 px-0 d-flex justify-content-end">
        <button (click)="createUser()" class="d-flex align-self-center" nz-button nzType="primary">
            <i nz-icon nzType="plus-circle" nzTheme="outline"></i> เพิ่มผู้ใช้งาน
        </button>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th class="text-center align-top">#</th>
                <th class="text-center align-top">รูปประจำตัว</th>
                <th class="text-center align-top">ชื่อผู้ใช้งาน</th>
                <th class="text-center align-top">ชื่อ - นามสกุล</th>
                <th class="text-center align-top">สถานะ</th>
                <th class="text-center align-top">จัดการ</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let item of items;let index = index">
                <tr>
                    <td class="text-center align-top">
                        {{ (index + 1) }}
                    </td>
                    <td class="text-center align-top">
                        <ng-container *ngIf="item.imageProfile; else defaultAvatar;">
                            <img [src]="item.imageProfile" class="img-fluid avatar rounded-circle" />
                        </ng-container>
                        <ng-template #defaultAvatar>
                            <img src="./assets/images/defaults/avatar.png" class="img-fluid avatar rounded-circle" />
                        </ng-template>
                    </td>
                    <td class="text-center align-top">
                        {{ item.email }}
                    </td>
                    <td class="text-left align-top">
                        {{ item.displayName }}
                    </td>
                    <td class="text-left align-top">
                        {{ item.role }}
                    </td>
                    <td class="text-center align-top">
                        <ng-container *ngTemplateOutlet="btn; context: { item: item || {} }"></ng-container>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>

<ng-template let-item="item" #btn>
    <button nz-button nzType="primary" (click)="onSelected(item,MODE.EDIT)">
        แก้ไข
    </button>
    <span class="px-1"></span>
    <button nz-button nzType="danger" (click)="onDelete(item)">
        ลบ
    </button>
</ng-template>