<div class="row flex-column flex-sm-row m-0 p-0 mb-3">
  <div class="col-12 col-sm-6 px-0">
    <h3>จัดการผู้ใช้งาน</h3>
  </div>
  <div class="col-12 col-sm-6 px-0 d-flex justify-content-end mb-3">
    <button (click)="createUser()" class="d-flex align-self-center align-items-center" nz-button nzType="primary">
      <i nz-icon nzType="plus-circle" nzTheme="outline"></i> เพิ่มผู้ใช้งาน
    </button>
  </div>
</div>
<app-pagination [items]="items" [template]="list" [pageSize]="app.pagination.pageSize"
  [pageIndex]="app.pagination.currentIndexPage" (pageIndexChange)="app.pagination.currentIndexPage = $event"
  (pageSizeChange)="app.pagination.pageSize = $event">
</app-pagination>
<ng-template #list let-items="items" let-from="from">
  <div class="table-responsive">
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th class="text-center align-top NO">#</th>
          <th class="text-center align-top AVATAR">รูปประจำตัว</th>
          <th class="text-center align-top USER_NAME">ชื่อผู้ใช้งาน</th>
          <th class="text-center align-top FULL_NAME">ชื่อ - นามสกุล</th>
          <th class="text-center align-top ROLE">สถานะ</th>
          <th class="text-center align-top MANAGE">จัดการ</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of items;let index = index">
          <tr>
            <td class="text-center align-top NO">
              {{ (from + index + 1) }}
            </td>
            <td class="text-center align-top AVATAR">
              <ng-container *ngIf="item.AVATAR; else defaultAvatar;">
                <img [src]="item.AVATAR" class="img-fluid avatar rounded-circle" />
              </ng-container>
              <ng-template #defaultAvatar>
                <img src="./assets/images/defaults/avatar.png" class="img-fluid avatar rounded-circle" />
              </ng-template>
            </td>
            <td class="text-center align-top USERNAME">
              {{ item.USERNAME || '-' }}
            </td>
            <td class="text-left align-top FULL_NAME">
              {{ item.FULL_NAME || '-' }}
            </td>
            <td class="text-left align-top ROLE">
              {{ item.ROLE || '-' }}
            </td>
            <td class="text-center align-top MANAGE">
              <ng-container *ngTemplateOutlet="btn; context: { item: item || {} }"></ng-container>
            </td>
          </tr>
        </ng-container>
        <ng-container *ngIf="items.length < 1">
          <tr>
            <td class="text-center align-top" colspan="6">
              <div class="not-found"></div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</ng-template>

<ng-template let-item="item" #btn>
  <button nz-button nzType="primary" (click)="onSelected(item,MODE.EDIT)">
    แก้ไข
  </button>
  <span class="px-1"></span>
  <button nz-button nzDanger nzType="primary" (click)="onDelete(item)">
    ลบ
  </button>
</ng-template>
