@import "src/styles.scss";

:host {
    position: relative !important;
    display: flex;
    flex-direction: column;
    flex: 1;

    label {
        flex: 1;
        margin-bottom: 0.2rem;
    }

    input,
    textarea {
        flex: 1;
        margin-bottom: 0.2rem;
        border: 0.5px solid $color-gray-light;
        border-radius: 1rem;
        padding-left: 0.7rem;
        padding-right: 0.7rem;
        //padding-top: 0.3rem;
        resize: none;
    }

    ::placeholder {
        color: $color-gray-light;
    }

    input {
        height: 2rem;
    }

    textarea {
        height: 4rem;
    }

    nz-select {
        flex: 1;
    }

    input:focus,
    textarea:focus,
    nz-select:focus {
        outline: none !important;
        outline-offset: 0px !important;
        box-shadow: 0 2px 4px $color-shadow;
    }

    .ctrl {
        display: flex !important;
        flex-direction: row;
    }
    .suffix-text {
        padding: 3px;
    }
    .readonly {
        display: flex;
        flex-direction: column;

        label {
            flex: 1;
        }

        .display-labe {
            margin-bottom: 0.5rem;
        }

        .display-value {
            margin-left: 0.5rem;
            margin-bottom: 0.5rem;
        }
    }

    ::ng-deep {
        input,
        textarea {
            padding-top: none !important;
        }

        .ant-select-selection,
        .ant-select-selection__rendered {
            display: flex;
            background: none;
            border: none;
        }

        .ant-select-selection {
            margin-bottom: 0.2rem;
            height: 2rem;
            border: 0.5px solid $color-gray-light;
            border-radius: 1rem;
        }

        .ant-select-selection__rendered {
            width: 100%;
        }

        .ant-select-selection,
        .ant-select-selection-selected-value,
        .ant-select-dropdown-menu-item {
            font-size: 0.75rem !important;
        }

        .ant-calendar-picker-input.ant-input {
            border-radius: 1rem;
        }
    }

    nz-input-number {
        border-radius: 1rem;
        flex: 0 30%;
    }

    nz-slider {
        flex: 1 60%;
    }
}
