@import "src/styles.scss";

:host {
  position: relative !important;

  .content {
    height: auto;
    width: auto;
  }
  form {
    padding: 1rem 0;
    padding-top: 0;
  }

  ::ng-deep {
    .validate {
      .text-error {
        display: block !important;
        color: red;
      }

      input,
      textarea {
        &.invalid {
          transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
          border: 1px solid red !important;
        }

        &:focus {
          box-shadow: 0 0 0 0.2rem $border-primary !important;
        }
      }

      .ng-invalid {
        .ant-radio-inner,
        .ant-calendar-picker-input,
        .ant-select-selection,
        input {
          border-color: red;
        }
      }
    }
  }
}
