@import "src/styles.scss";

:host {
    .list {
        box-shadow: inset 0 5px 10px 0 $color-shadow;
        padding: 0.5rem;
    }

    .order {
        width: 10%;
    }

    .card {
        width: 100%;
        height: auto;
        background-color: white;
        border-radius: 0.2rem;
        box-shadow: 0 1px 4px 0 $color-shadow;
        border: none;
    }

    .card:not(:first-child) {
        margin-top: 0.5rem;
    }
}
