<div class="d-row m-0 p-0 mb-3">
  <button nz-button nzDanger (click)="onBack()">
    ย้อนกลับ
  </button>
</div>
<nz-tabset (nzSelectChange)="onChangeTab($event)">
  {{ currentTab }}
  <ng-container *ngFor="let tab of tabs">
    <nz-tab [nzTitle]="tab.TITLE">
      <ng-container [ngSwitch]="tab.VALUE">
        <div class="content p-0">
          <ng-container *ngSwitchCase="1">
            <app-restaurant-menu-manage-edit-main></app-restaurant-menu-manage-edit-main>
          </ng-container>
          <ng-container *ngSwitchCase="2">
            <app-restaurant-menu-manage-edit-legend></app-restaurant-menu-manage-edit-legend>
          </ng-container>
          <ng-container *ngSwitchCase="3">
            <app-restaurant-menu-manage-edit-media></app-restaurant-menu-manage-edit-media>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <app-restaurant-menu-manage-edit-main></app-restaurant-menu-manage-edit-main>
          </ng-container>
        </div>
      </ng-container>
    </nz-tab>
  </ng-container>
</nz-tabset>
