<div class="row flex-column flex-sm-row m-0 p-0 mb-3">
  <div class="col-12 col-sm-6 px-0">
    <h3>จัดการวัฒนธรรมอาหาร</h3>
  </div>
  <div class="col-12 col-sm-6 px-0 d-flex justify-content-end">
    <button (click)="createCulture()" class="d-flex align-self-center align-items-center" nz-button nzType="primary">
      <i nz-icon nzType="plus-circle" nzTheme="outline"></i> เพิ่มวัฒนธรรมอาหาร
    </button>
  </div>
</div>
<app-pagination [items]="items" [template]="list" [pageSize]="app.pagination.pageSize"
  [pageIndex]="app.pagination.currentIndexPage" (pageIndexChange)="app.pagination.currentIndexPage = $event"
  (pageSizeChange)="app.pagination.pageSize = $event">
</app-pagination>
<ng-template #list let-items="items" let-from="from">
  <div class="table-responsive">
    <table class="table table-hover backoffice-table">
      <thead>
        <tr>
          <th class="text-center align-top NO">#</th>
          <th class="text-center align-top THUMBNAIL">รูปประจำตัว</th>
          <th class="text-center align-top COUNTRY_NAME_TH">ชื่อประเทศของอาหาร</th>
          <th class="text-center align-top NAME_TH" [innerHTML]="'ชื่อวัฒนธรรมอาหาร\n(ภาษาไทย)'"></th>
          <th class="text-center align-top NAME_EN" [innerHTML]="'ชื่อวัฒนธรรมอาหาร\n(ภาษาอังกฤษ)'"></th>
          <th class="text-center align-top AUTHOR">ผู้สร้างรายการ</th>
          <th class="text-center align-top CREATED_DATE">วันที่สร้าง</th>
          <th class="text-center align-top UPDATED_DATE">วันที่แก้ไข</th>
          <th class="text-center align-top MANAGE">จัดการ</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of items;let index = index">
          <tr>
            <td class="text-center align-top NO">
              {{ (from +index + 1) }}
            </td>
            <td class="text-center align-top THUMBNAIL">
              <app-image [src]="item.THUMBNAIL" imageType="image" className="img-fluid image rounded-circle">
              </app-image>
            </td>
            <td class="text-center align-top COUNTRY_NAME_TH">
              {{ item.COUNTRY_NAME_TH || '-' }}
            </td>
            <td class="text-center align-top NAME_TH">
              {{ item.NAME_TH || '-' }}
            </td>
            <td class="text-center align-top NAME_EN">
              {{ item.NAME_EN || '-' }}
            </td>
            <td class="text-center align-top AUTHOR">
              {{ item.AUTHOR || '-' }}
            </td>
            <td class="text-left align-top CREATED_DATE">
              <app-display-datetime [datetime]="item.CREATED_DATE" format="DD MMM YY HH:mm:ss"></app-display-datetime>
            </td>
            <td class="text-left align-top UPDATED_DATE">
              <app-display-datetime [datetime]="item.UPDATED_DATE" format="DD MMM YY HH:mm:ss"></app-display-datetime>
            </td>
            <td class="text-center align-top MANAGE">
              <ng-container *ngTemplateOutlet="btn; context: { item: item || {} }"></ng-container>
            </td>
          </tr>
        </ng-container>
        <ng-container *ngIf="items.length < 1">
          <tr>
            <td class="text-center align-top" colspan="9">
              <div class="not-found"></div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</ng-template>

<ng-template let-item="item" #btn>
  <button nz-button nzType="primary" (click)="onSelected(item,MODE.EDIT)">
    แก้ไข
  </button>
  <span class="px-1"></span>
  <button nz-button nzDanger (click)="onDelete(item)">
    ลบ
  </button>
</ng-template>
