<div class="d-flex flex-column">
  <hr class="mb-3" />
  <div class="title">จัดการข้อมูลตำนาน</div>
  <div class="d-flex flex-column">
    <ng-container *ngIf="isMultiple">
      <div class="d-flex mb-3 justify-content-start" *ngIf="!isLimit">
        <button nz-button nzPrimary nzType="primary" (click)="addLegend($event)">
          <div class="d-flex align-self-center align-items-center">
            <i nz-icon nzType="plus-circle" nzTheme="outline"></i>&nbsp;เพิ่มตำนาน
          </div>
        </button>
      </div>
    </ng-container>
    <div class="mb-3">
      <ng-container *ngFor="let data of values; let index = index;">
        <div [ngClass]="{ 'mb-3': !isLastest(index,values.length) }">
          <div class="border-bottom" [ngClass]="{ 'border-bottom': !isLastest(index,values.length) }">
            <div class="d-flex flex-column">
              <ng-container *ngIf="isMultiple">
                <div class="d-flex justify-content-end mb-3">
                  <button nz-button nzDanger class="ant-danger" (click)="removeLegend(data,index)">
                    <div class="d-flex align-self-center align-items-center">
                      <i nz-icon nzType="delete" nzTheme="outline"></i>&nbsp;ลบตำนาน
                    </div>
                  </button>
                </div>
              </ng-container>
              <div *ngFor="let c of data; let innerIdx = index;"
                [class]="!isLastest(innerIdx,data.length) ? 'mb-3' : ''"
                [ngClass]="{ 'mb-3': !isLastest(index,values.length) }">
                <app-control *ngIf="!c.invisible" [config]="c"></app-control>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
