@import "src/styles.scss";

:host {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .main-layout {
        position: relative;
        height: 100vh;
    }

    .inner-content {
        position: relative;
        height: 100%;
        background: #fff;
        min-height: 360px;
    }

    nz-header {
        background: #fff;
        padding: 0;
    }

    .nz-layout {
        display: flex;
        flex-direction: row;

        .inner-content {
            position: relative;
            height: 100%;
            flex: 1;
        }
    }

    nz-layout {
        nz-silder {
            text-align: left;
        }
    }
    nz-content {
        margin: 24px 16px 0;
    }

    nz-footer {
        text-align: center;
    }
}
