@import "src/styles.scss";

::ng-deep {
    body {
        // background-image: url(../../../../assets/images/bg/bg3.jpg);
        // background-size: cover;
        // background-repeat: no-repeat;
        background-color: #05c2f9;
        text-align: center;
        overflow-y: hidden;
    }
}
:host {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    .logo {
        justify-content: center;
        padding: 4rem 0 3rem 0;
        margin: 0 auto;

        h2 {
            color: white;
            font-weight: bold !important;
        }
    }

    .form-area {
        width: 750px;
        max-width: 90%;
        margin: 0 auto;
        background-color: #fff;
        justify-content: start;
        height: min-content;

        .area {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
        }

        .image {
            display: none;
            background-color: #111;

            img {
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                margin: auto;
            }
        }
        .form {
            justify-content: start;
            text-align: left;

            ::ng-deep {
                .invalid-feedback {
                    margin-bottom: 1rem;
                }
                .ctrl {
                    input {
                        border-radius: 0;
                        border: none;
                        border-bottom: 3px solid $color-dark;
                        padding: 10px 0 10px 0;
                        height: auto;
                        margin-bottom: 15px;

                        &:focus {
                            box-shadow: none !important;
                        }
                    }
                }

                .was-validated {
                    input.invalid {
                        margin-bottom: 0px !important;
                    }

                    input.invalid {
                        border: 0 !important;
                        border-bottom: 3px solid red !important;

                        &:focus {
                            outline: none;
                            border: 0 !important;
                            border-bottom: 3px solid red !important;
                            box-shadow: none !important;
                        }
                    }
                }
            }

            button {
                padding: 10px 30px;
                font-size: 15px;
                border: none;
                outline: none;
                border-radius: 30px;
                background-color: #05c2f9;
                color: #fff;
                cursor: pointer;
            }
        }
    }

    .title-container {
        color: $color-dark;
        padding: 1rem;
        h3 {
            text-align: center;
            font-size: 1.3rem;
        }
    }

    .container-copyright {
        font-size: 15px;
        line-height: 25px;
        color: #eee;
        height: 80px;
    }

    @media screen and (min-width: 758px) {
        .form-area {
            width: 100%;
            max-width: 750px;
        }
    }

    @media screen and (max-width: 480px) {
        .form-area {
            width: 80%;
        }

        .logo {
            padding: 4rem 0 2rem 0;
        }
    }
}
