/* You can add global styles to this file, and also import other style files */
$color-dark: #111;

$color-active: #ffb910;
$color-primary-dark: #8e161a;

$color-gray-light: #dfdfdf;
$color-bright: #f3f3f3;
$color-shadow: rgba(0, 0, 0, 0.09);

body,
html {
    height: 100%;
}

// not found
.not-found {
    flex: 1;
    display: flex;
    padding: 0.5rem;
}

.not-found::after {
    content: "ไม่พบข้อมูล";
    text-align: center;
    flex: 1;
}

// scrollbar
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: transparent !important;
}

::-webkit-scrollbar-track-piece {
    // background: #ECECEC;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    /*height: 6px;*/
    border: 1px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 3px;
    background-color: #bebebe !important;
    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}

.d-row,
.d-col,
.d-row-reverse,
.d-col-reverse {
    display: flex;
}
.d-row {
    flex-direction: row !important;
}

.d-col {
    flex-direction: column !important;
}

.d-row-reverse {
    flex-direction: row-reverse !important;
}

.d-col-reverse {
    flex-direction: column-reverse !important;
}

.flex-1 {
    flex: 1 !important;
}

.content {
    position: relative;
    height: 100%;
    width: 100%;
}

.pos-relative {
    position: relative;
}

.pos-relative-fluid {
    position: relative;
    height: 100%;
}

::ng-deep {
    .ant-message-custom-content {
        display: flex;
        align-self: center;
    }
}
