<configuration>
  <system.webServer>
    <rewrite>
      <rules>
       <rule name="Angular Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{URL}" pattern="\.axd$" negate="true" />
            <add input="{URL}" pattern="/api/reports/" negate="true" />
          </conditions>
          <action type="Rewrite" url="/backoffice/" />
        </rule>
      </rules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
         <!-- <add name="Access-Control-Allow-Origin" value="http://thaiwellnesstourism.com" />
       <add name="Access-Control-Allow-Origin" value="http://127.0.0.1:8000" /> -->
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET,PUT,POST,DELETE,OPTIONS" />
        <add name="Access-Control-Allow-Credentials" value="true" />
        <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept, Authorization, x-csrf-token, x-requested-with, X-XSRF-TOKEN" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
